[Unit]
Description=PIZZIA Pizza Order System
After=network-online.target avahi-daemon.service
Wants=network-online.target

[Service]
ExecStart=/usr/bin/node /home/pol/pizzia-app/server.js
WorkingDirectory=/home/pol/pizzia-app
Restart=always
RestartSec=5
User=pol
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
